html {
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: 'Merriweather', serif;
    background: hsl(0,0%,97%);
}

main * {
    line-height: 1.5em;
}

.everything {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    flex-direction: row-reverse;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fjalla One',sans-serif;
}
button {
    font-family: 'Fjalla One',sans-serif;
}
header h1, #sidebar h1 {
    font-weight: normal;
}

.content {
    flex: 3 1 15em;
}
.content-block {
    margin: 1em auto;
}

.content-block img {
    max-width: 100%;
	border: 0.5rem solid #b2bc3a;
}

#skip-to-sidebar {
    display: none;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar {
    box-sizing: border-box;
    background-color: #C62748;
}
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
    margin: 0;
    text-align: center;
    font-size: 3em;
}

#sidebar > ul a {
    text-decoration: none;
    color: #fefad7;
    font-family: 'Fjalla One',serif;
    font-size: 1.2rem;
}
#sidebar > ul a[aria-current="page"] {
    font-weight: bold;
    text-decoration: underline 0.2em;
}
#sidebar > ul > li:first-child a[aria-current="page"] {
    text-decoration: none;
}

#sidebar > ul > li ~ li {
    /* margin-top: 0.2em; */
}

#sidebar ul li ul a {
    background: hsla(200, 2%, 24%,0.4);
}
#sidebar .nav-icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	fill: white;
	margin-right: 0.1em;
}


.content > main {
    min-height: 85vh;
    padding: 0 1em;
}

header {
    text-align: center;
    font-size: 3rem;
}

header {
    margin: 0em 0 1rem 0em;
    background: #b36c35;
    padding-top: 10rem;
    color: hsl(46, 96%, 8%);
}
header h1.jam-name {
    font-size: 1.5em;
}
header h1 {
    padding-top: 2rem;
	color: #fefad7;
}

body header {
    background-image: url('images/papy.svg');
    background-position: 65% 50%;
    background-size: 130vw;
    background-blend-mode: screen;
}

body.home header h1 {
    background: linear-gradient(
		hsla(26,54%,45%,0),
		hsla(26,54%,45%,0.8) 2rem,
		hsla(26,54%,45%,1)
	);
}
body.about header {
    background-position: 5% 15%;
}
body.about header, #sidebar li.about {
    background-color: #3c6b48;
}
body.about header h1 {
    background: linear-gradient(
        hsla(135,28%,33%,0),
        hsla(135,28%,33%,0.8) 2rem,
        hsla(135,28%,33%,1)
    );
}
body.news header {
    background-position: 75% 80%;
}
body.news header, #sidebar li.news {
    background-color: #fad127;
}
body.news header h1 {
    background: linear-gradient(
        hsla(79, 91%, 39%,0),
        hsla(79, 91%, 39%,0.8) 2rem,
        hsla(79, 91%, 39%,1)
    );
}
body.city header {
    background-position: 5% 85%;
    background-color: #26ade4;
}
body.city header h1 {
    background: linear-gradient(
        hsla(197, 78%, 52%,0),
        hsla(197, 78%, 52%,0.8) 2rem,
        hsla(197, 78%, 52%,1)
    );
}
body.find-a-jam header {
    background-position: 65% 30%;
}
body.find-a-jam header, #sidebar li.find-a-jam ,
body.whats-on header, #sidebar li.whats-on
{
    background-color: #083a7b;
}
body.find-a-jam header h1 {
    background: linear-gradient(
        hsla(214,88%,26%,0),
        hsla(214,88%,26%,0.8) 2rem,
        hsla(214,88%,26%,1)
    );
}
body.resources header {
    background-position: 15% 50%;
}
body.resources header, #sidebar li.resources {
    background-color: #00a8c6;
}
body.resources header h1 {
    background: linear-gradient(
        hsla(189, 100%, 39%,0),
        hsla(189, 100%, 39%,0.8) 2rem,
        hsla(189, 100%, 39%,1)
    );
}
body.gathering header {
    background-position: 5% 40%;
    background-image: url('images/gathering-header.jpg');
}
body.gathering header, #sidebar li.gathering,
body.plan-your-visit header, #sidebar li.plan-your-visit {
    background-color: hsl(54, 95%, 57%);
    color: black;
}
body.gathering header h1 {
	color: hsl(54, 95%, 8%);
    background: linear-gradient(
        hsla(54, 74%, 55%,0),
        hsla(54, 74%, 55%,0.8) 2rem,
        hsla(54, 74%, 55%,1)
    );
}
#sidebar li.twitter {
    background-color: #0084b4;
}
#sidebar li.twitter a {
    color: black;
}
#sidebar li.mathstodon {
    background-color: #6364FF;
}
#sidebar li.mathstodon a {
    color: black;
}
#sidebar li.gathering a, #sidebar li.plan-your-visit a {
    color: hsl(54, 95%, 8%);
}
#sidebar li.gathering a .nav-icon,
#sidebar li.plan-your-visit a .nav-icon {
	fill: black;
}

.city-list li.hiatus a {
    text-decoration: line-through !important;
    color: #888;
}

li.hiatus a::after {
    content: 'On hiatus!';
    font-style: italic;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 0.7em;
    width: 100%;
}

ul.city-list {
    padding: 0.2em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #454748;
}

.city-list > li {
    display: inline-block;
    margin: 0.1rem;
    flex: 5 1 15%;
    background: hsl(200, 2%, 12%);
}

.city-list li a {
    font-family: 'Fjalla One',serif;
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.city-list li:not(.hiatus) a {
    font-size: 2rem;
    white-space: nowrap;
}

.city-list > li.hiatus {
    flex-grow: 1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
.post-title {
    text-align: center;
}
.post-title p {
    color: #333;
    margin: 0 !important;
    max-width: none;
}
header > * {
    margin: 0;
}
footer {
    text-align: right;
    margin: 3rem 1rem 1rem 1rem;
}

#city-map {
    height: 30vh;
    margin: 1rem;
}
body.city header::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.hiatus-message {
    background: hsl(0,60%,60%);
    color: white;
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

.hiatus-message :first-child {
    margin-top: 0;
}

.hiatus-message :last-child {
    margin-bottom: 0;
}
.hiatus-message a {
    color: hsl(240,100%,90%);
}
#next-jam {
    padding: 1em;
    background: hsl(200, 2%, 90%);
    border: 2px solid #454748;
}

#honkin-red {
    padding: 1em;
    background: #f2bcc6;
    border: 2px solid #454748;
}

blockquote {
    margin: 1rem;
    background: hsl(200, 2%, 90%);
    padding: 1rem;
}

blockquote > cite {
    text-align: right;
    display: block;
    font-weight: bold;
}
.link-bar {
	text-align: center;
	font-family: 'Fjalla One',sans-serif;
}

.link-bar ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 1rem auto;
	justify-content: center;
	font-size: 0.9rem;
}

.link-bar li {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	background: #454748;
	color: white;
}

.link-bar li:first-child {
	border-radius: 0.2rem 0 0 0.2rem;
}
.link-bar li:last-child {
	border-radius: 0 0.2rem 0.2rem 0;
}

.link-bar li ~ li {
	margin-left: 0.2em;
}

.link-bar a {
	color: white;
	text-decoration: none;
	line-height: 2em;
}
.link-bar .nav-icon {
	width: 2em;
	vertical-align: middle;
	fill: white;
	margin-right: 0.1em;
}
body.gathering .team-pic {
	width: 6em;
	float: right;
	margin: -3rem 0 1rem 1rem;
}
body.gathering .programme-table td:first-child {
	padding-right: 1em;
}

body.home #next-jam .cities {
    list-style: none;
    padding: 0;
    display: inline;
}
body.home #next-jam .cities > li {
    display: inline;
}

body.home #next-jam .cities > span:not(:first-child) {
  margin-left: 0.3em;
}

body.gathering input {
    font-size: 1rem;
    margin: 0.3rem 0;
}
body.gathering nav#sidebar .home h1 {
    font-size: 2em;
}
