:root {
    --text-size: 16px;

    --body-font: 'Merriweather', serif;
    --header-font: 'Fjalla One', sans-serif;
    --button-font: var(--header-font);

    --background-colour: hsl(0,0%,97%);
    --light-link-colour: #fefad7;
    --dark-link-colour: hsl(54, 95%, 8%);

    --sidebar-background-hsl: 347.5, 67.1%, 46.5%;
    --sidebar-link-colour: var(--light-link-colour);

    --header-background-hsl: 26, 54%, 45%;
    --header-background-position: 65% 50%;
    --header-text-colour: var(--light-link-colour);

    --header-background-image: url('images/papy.svg');

    --image-border-colour: hsl(64.6, 52.8%, 48.2%);

    --hsl-1: 135,28%,33%;\n
    --hsl-2: 197, 78%, 52%;
    --hsl-3: 213, 88%, 26%;
    --hsl-4: 189, 100%, 39%;
    --hsl-5: 54, 95%, 57%;
    --hsl-twitter: 0, 0%, 0%;
    --hsl-mathstodon: 240, 100%, 41.6%;
}

html {
    font-size: var(--text-size);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: var(--body-font);
    background: var(--background-colour);
}

main * {
    line-height: 1.5em;
}

.everything {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    flex-direction: row-reverse;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--header-font);
}
button {
    font-family: var(--button-font);
}
header h1, #sidebar h1 {
    font-weight: normal;
}

.content {
    flex: 3 1 15em;
}
.content-block {
    margin: 1em auto;
}

.content-block img {
    max-width: 100%;
	border: 0.5rem solid var(--image-border-colour);
}

.massive {
    display: block;
    font-size: 2em;
    text-align: center;
    margin: 2em 0;
}

#skip-to-sidebar {
    display: none;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar {
    box-sizing: border-box;
    background-color: hsl(var(--sidebar-background-hsl));
}
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
    margin: 0;
    text-align: center;
    font-size: 3em;
}

#sidebar > ul a {
    text-decoration: none;
    color: var(--sidebar-link-colour);
    font-family: var(--button-font);
    font-size: 1.2rem;
}
#sidebar > ul a[aria-current="page"] {
    font-weight: bold;
    text-decoration: underline 0.2em;
}
#sidebar > ul > li {
    background-color: hsl(var(--sidebar-background-hsl));
}
#sidebar > ul > li:first-child a[aria-current="page"] {
    text-decoration: none;
}


#sidebar ul li ul a {
    background: hsla(200, 2%, 24%,0.4);
}
#sidebar .nav-icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	fill: white;
	margin-right: 0.1em;
}


.content > main {
    min-height: 85vh;
    padding: 0 1em;
}

header h1 {
    padding-top: 2rem;
	color: var(--header-text-colour);
    background: linear-gradient(
		hsla(var(--header-background-hsl),0),
		hsla(var(--header-background-hsl),0.8) 2rem,
		hsla(var(--header-background-hsl),1)
	);
}

body header {
    text-align: center;
    font-size: 3rem;
    margin: 0em 0 1rem 0em;
    background: hsl(var(--header-background-hsl));
    background-image: var(--header-background-image);
    background-position: var(--header-background-position);
    background-size: 130vw;
    background-blend-mode: screen;
    padding-top: 10rem;
}

body.gathering, body.plan-your-visit {
    --header-background-image: url('images/gathering-header.jpg');
    --header-background-hsl: var(--hsl-5);
    --header-text-colour: var(--dark-link-colour);
    --header-background-position: 5% 40%;
}
body.about {
    --header-background-hsl: var(--hsl-1);
    --header-background-position: 5% 15%;
    --header-text-colour: var(--light-link-colour);
}
body.city {
    --header-background-hsl: var(--hsl-2);
    --header-background-position: 5% 85%;
    --header-text-colour: var(--light-link-colour);
}
body.city h1 {
    font-size: 1.5em;
}

body.find-a-jam, body.whats-on {
    --header-background-hsl: var(--hsl-3);
    --header-background-position: 65% 30%;
    --header-text-colour: var(--light-link-colour);
}
body.resources, body.archive {
    --header-background-hsl: var(--hsl-4);
    --header-background-position: 15% 50%;
    --header-text-colour: var(--dark-link-colour);
}

#sidebar li.about {
    --sidebar-background-hsl: var(--hsl-1);
}
#sidebar li.find-a-jam {
    --sidebar-background-hsl: var(--hsl-3);
}
#sidebar li.resources {
    --sidebar-background-hsl: var(--hsl-4);
    --sidebar-link-colour: var(--dark-link-colour);
}
#sidebar li.gathering {
    --sidebar-background-hsl: var(--hsl-5);
    --sidebar-link-colour: var(--dark-link-colour);
}
#sidebar li.whats-on {
    --sidebar-background-hsl: var(--hsl-3);
}
#sidebar li.plan-your-visit {
    --sidebar-background-hsl: var(--hsl-5);
    --sidebar-link-colour: var(--dark-link-colour);
}
#sidebar li.archive {
    --sidebar-background-hsl: var(--hsl-4);
nav--sidebar-link-colour: var(--dark-link-colour);
}

#sidebar li.twitter {
    --sidebar-background-hsl: var(--hsl-twitter);
}
#sidebar li.mathstodon {
    --sidebar-background-hsl: var(--hsl-mathstodon);
}

.city-list li.hiatus a {
    text-decoration: line-through !important;
    opacity: 0.6;
}

li.hiatus a::after {
    content: 'On hiatus!';
    font-style: italic;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 0.7em;
    width: 100%;
}

ul.city-list {
    padding: 0.2em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #454748;
}

.city-list > li {
    display: inline-block;
    margin: 0.1rem;
    flex: 5 1 15%;
    background: hsl(200, 2%, 12%);
}

.city-list li a {
    font-family: 'Fjalla One',serif;
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

#sidebar a:hover,
#sidebar a:focus,
#sidebar a:active {
    text-decoration: underline;

}

.city-list li:not(.hiatus) a {
    font-size: 2rem;
    white-space: nowrap;
}

.city-list > li.hiatus {
    flex-grow: 1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
.post-title {
    text-align: center;
}
.post-title p {
    color: #333;
    margin: 0 !important;
    max-width: none;
}
header > * {
    margin: 0;
}
footer {
    text-align: right;
    margin: 3rem 1rem 1rem 1rem;
}

#city-map {
    height: 30vh;
    margin: 1rem;
}
body.city header::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.hiatus-message {
    background: hsl(0,60%,60%);
    color: white;
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

.hiatus-message :first-child {
    margin-top: 0;
}

.hiatus-message :last-child {
    margin-bottom: 0;
}
.hiatus-message a {
    color: hsl(240,100%,90%);
}
#next-jam {
    padding: 1em;
    background: hsl(200, 2%, 90%);
    border: 2px solid #454748;
}

#honkin-red {
    padding: 1em;
    background: #f2bcc6;
    border: 2px solid #454748;
}

blockquote {
    margin: 1rem;
    background: hsl(200, 2%, 90%);
    padding: 1rem;
}

blockquote > cite {
    text-align: right;
    display: block;
    font-weight: bold;
}
.link-bar {
	text-align: center;
	font-family: 'Fjalla One',sans-serif;
}

.link-bar ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 1rem auto;
	justify-content: center;
	font-size: 0.9rem;
}

.link-bar li {
	display: inline-block;
	padding: 0.5rem 0.75rem;
	background: #454748;
	color: white;
}

.link-bar li:first-child {
	border-radius: 0.2rem 0 0 0.2rem;
}
.link-bar li:last-child {
	border-radius: 0 0.2rem 0.2rem 0;
}

.link-bar li ~ li {
	margin-left: 0.2em;
}

.link-bar a {
	color: white;
	text-decoration: none;
	line-height: 2em;
}
.link-bar .nav-icon {
	width: 2em;
	vertical-align: middle;
	fill: white;
	margin-right: 0.1em;
}
body.gathering .team-pic {
	width: 6em;
	float: right;
	margin: -3rem 0 1rem 1rem;
}
body.gathering .programme-table td:first-child {
	padding-right: 1em;
}

body.home #next-jam .cities {
    list-style: none;
    padding: 0;
    display: inline;
}
body.home #next-jam .cities > li {
    display: inline;
}

body.home #next-jam .cities > span:not(:first-child) {
  margin-left: 0.3em;
}

body.gathering input {
    font-size: 1rem;
    margin: 0.3rem 0;
}
body.gathering nav#sidebar .home h1 {
    font-size: 2em;
}


body.gathering section {
    margin-bottom: 2lh;
    padding-left: 1em;
}
body.gathering h3 {
    border-bottom: medium solid;
}
body.gathering h3 time {
    font-weight: normal;
}
body.gathering article {
    padding-left: 1em;
}
body.gathering article > * ~ * {
    padding-left: 1em;
}

.call-to-action {
    font-size: 2.5em;
    margin: auto;
    display: block;
    margin: 1em auto;
    padding: 0.5em 1em;
    background-color: hsl(var(--sidebar-background-hsl));
    color: var(--light-link-colour);
    border: thick solid transparent;
    text-align: center;
    font-family: var(--button-font);
    width: fit-content;

}

.small-to-action {
    font-size: 1.5em;
    margin: auto;
    display: block;
    margin: 0.5em auto;
    padding: 0.5em 0.5em;
    background-color: hsl(var(--sidebar-background-hsl));
    color: var(--light-link-colour);
    border: thick solid transparent;
    text-align: center;
    font-family: var(--button-font);
    width: fit-content;

}

.minimenu {
    display: flex;
    text-align: center;
    font-size: 1.3em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.minimenu a {
    font-family: var(--button-font);
    display: inline-block;
    padding: 0.5em 1em;
    background-color: hsl(var(--sidebar-background-hsl));
    color: var(--light-link-colour);
    border: thick solid transparent;
    text-align: center;
    margin: 0.25em;
}

.call-to-action:hover, .small-to-action:hover, .minimenu a:hover,
.call-to-action:focus, .small-to-action:focus, .minimenu a:focus {
    background-color: #3c6b48;
    border-color: black;  
}

#archive-years {
    display: grid;
    grid-template-columns: repeat(auto-fill,8em);
    list-style: none;
    gap: 1em 2em;
    padding-left: 0;
    justify-content: center;
}

html {
  scroll-behavior: smooth;
}
