@media screen and (min-width: 769px) {
    nav#sidebar {
        flex: 0 0 17em;
        border-right: 0.5rem solid;
        max-width: 30%;
        min-width: 16em;
    }
    nav#sidebar h1,nav#sidebar h2, nav#sidebar h3, nav#sidebar h4, nav#sidebar h5, nav#sidebar h6 {
        font-size: 3em;
    }

    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #sidebar > ul a {
        display: block;
        padding: 0.5em 1em;
    }

    #sidebar ul li ul a {
        margin-left: 2em;
    }

    body.home #sidebar {
        border-right-color: hsl(350, 67%, 36%);
    }
    body.about #sidebar {
        border-right-color: hsla(185, 57%, 52%,0.8);
    }
    body.news #sidebar {
        border-right-color: hsla(79, 91%, 39%,0.8);
    }
    body.city #sidebar, body.find-a-jam #sidebar {
        border-right-color: hsla(197, 78%, 52%,0.8);
    }
    body.resources #sidebar {
        border-right-color: hsla(189, 100%, 39%,0.8);
    }
    body.gathering #sidebar {
        border-right-color: hsla(78, 74%, 55%,0.8);
    }

    header {
        font-size: 3rem;
    }

    .city-list li:not(.hiatus) a {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1150px) {
    html {
        font-size: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .content-block {
        font-size: 24px;
		max-width: 960px;
    }
}
