# Build the site and upload it to mathsjam.com

name: Build mathsjam.com

# Controls when the workflow will run
on:
  push:
    branches: [ master, build-action ]
  pull_request:
    branches: [ master, build-action ]
    
  schedule:
    # Run every day at 07:41[
    - cron:  '41 7 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the private source
        uses: actions/checkout@v3
        with:
          repository: katiesteckles/mathsjam-private
          path: .
          token: ${{ secrets.PAT_TOKEN }}
      - name: Checkout the public source
        uses: actions/checkout@v3
        with:
          repository: mathsjam/mathsjam-site
          path: src/content

      - name: Download spress
        run: |
          wget https://github.com/spress/spress/releases/download/v3.0.0/spress.phar
          chmod +x spress.phar
          
      - name: Copy extra resources into the src/content folder
        uses: MadaraUchiha/copy-action@0.0.1
        with:
          # Source file
          source: resources
          # Target file
          target: src/content/resources

      - name: Build the site
        run: ./spress.phar site:build
          
      - name: Copy the files to mathsjam.com by FTP
        uses: sebastianpopp/ftp-action@v2.0.0
        with:
          # FTP host
          host: ${{ secrets.FTP_HOST }}
          # FTP user
          user: ${{ secrets.FTP_USER }}
          # FTP password
          password: ${{ secrets.FTP_PASSWORD }}
          # Local directory
          localDir: build
          # Remote directory
          remoteDir: .
